//
$color-white: #fff;
$color-black: #000;

//Grid////////////////////////////

$app-max-width: 1440px;

$gutter-width: 40px;

//container width
$container-sm: 100%;
$container-md: 960px;
$container-lg: 960px;
$container-xlg: 960px;

//breakpoints
$breakpoint-ms: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xlg: 1400px;

//media queries mobile first
@media (min-width: $breakpoint-ms) {
}

@media (min-width: $breakpoint-sm) {
}

@media (min-width: $breakpoint-md) {
}

@media (min-width: $breakpoint-lg) {
}

@media (min-width: $breakpoint-xlg) {
}

//media queries desktop first
@media (max-width: $breakpoint-sm - 1) {
}

@media (max-width: $breakpoint-md - 1) {
}

@media (max-width: $breakpoint-lg - 1) {
}

@media (max-width: $breakpoint-xlg - 1) {
}
